:root {
    --primary-color: #34c94b; /* Gre34en color from Figma */
    --background-color: #121212; /* Black background */
    --text-color: #ffffff; /* White text */
  }
  
  .card {
    width: 200px;
    border-radius: 15px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
  .imageContainer {
    width: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .albumImage {
    width: 100%;
    height: auto;
    border-radius: 0px;
    object-fit: cover;
  }
  
  .chip {
    background-color: var(--background-color) !important;
    color: white !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    padding: 5px 10px !important;
    border-radius: 20px !important;
  }
  
  .cardContent {
    text-align: center;
    padding: 5px;
    display: flex;
  }
  
  .albumName {
    font-size: 16px;
    color: var(--text-color);
    font-weight: 600;
    margin: 5px 0;
    text-align: center;
  }